---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Pointer
SpaceBeforeParens: ControlStatements
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
SortIncludes: CaseInsensitive
IndentPPDirectives: None
ReflowComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
AllowShortLoopsOnASingleLine: false
