# file types
*.hdf5
*.log
*.ncu-rep
*.pdf
*.txt
*.md
*.sh

# folders
build*/
libs/
output*/
run*/
.vscode
.claude
__pycache__/
venv/
src_*
interactive/

# files
ProteusGPU
.DS_Store

# explicitly allowed
!Config.sh
!README.md
!ics/*.py
!ics/param.txt
!ics/cooling_table_*.txt
!tests/*.sh
!tests/*.txt
!tests/convergence/**/*.sh
!tests/convergence/**/*.py
