# folders
build/
libs/
output
output*/
run*/
.vscode/
.claude
__pycache__/
src_*
interactive/

# files
ProteusGPU
.DS_Store
ics/param_*
ics/IC_*
run_*.sh
voronoi*.md
*_*.md
/ICs
/vis

# file types
*.hdf5
*.log
*.ncu-rep
*.pdf
*.txt
